﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Turner-MTS</h1>
    <p class="lead">This is Turner Broadcasting movie title search system. <br /> 
    Click @Html.ActionLink("Here", "Index", "Titles") to begin.</p>

</div>

