﻿@model Title

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Title</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TitleId)

        <div class="form-group">
            @Html.LabelFor(model => model.TitleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TitleName)
                @Html.ValidationMessageFor(model => model.TitleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TitleNameSortable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TitleNameSortable)
                @Html.ValidationMessageFor(model => model.TitleNameSortable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TitleTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TitleTypeId)
                @Html.ValidationMessageFor(model => model.TitleTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleaseYear)
                @Html.ValidationMessageFor(model => model.ReleaseYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessedDateTimeUTC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProcessedDateTimeUTC)
                @Html.ValidationMessageFor(model => model.ProcessedDateTimeUTC)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
